body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  form {
    border-radius: 30px;
    display: flex;
    width: 80%;
    /* Ajuste a largura conforme necessário */
    background-color: #fff;
    /* Fundo branco para o formulário */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.651);
    /* Sombra suave */
  }
  
  .form-section,
  .benefits-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: black;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #dcdcdc;
    /* Cinza claro */
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #14a2fa;
    /* Azul claro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4682b4;
    /* Azul mais escuro ao passar o mouse */
  }
  
  .benefits-section h2 {
    color: rgb(45, 5, 5);
    font-size: 42px;
    font-family: 'Lexend', sans-serif;
    text-align: center;
  }
  
  .benefits-section ul {
    padding: 0;
    font-size: 25px;
  
  }
  
  .benefits-section li {
    color: rgb(103, 66, 66);
    font-family: 'Fira Sans', sans-serif;
  }
  
  .benefits-section img {
    width:300px;
    margin-left: 60px;
  }
  .linha-vertical {
    border-left: 1px solid #000; /* Cor e espessura da linha */
    height: 700px; /* Altura da linha */
    margin: 0 20px; /* Espaçamento à esquerda e à direita da linha */
  }
  .login-message {
    font-size: 18px;
    color: #4682b4; /* Cor azul destacada, ajuste conforme necessário */
    font-weight: bold;
    margin-top: 20px; /* Espaçamento superior para separar da seção anterior */
}

.login-message a {
    color: #4682b4; /* Mantenha a mesma cor para o link */
    text-decoration: underline; /* Adiciona sublinhado para indicar que é um link */
}

.login-message a:hover {
    color: #1e416b; /* Cor mais escura ao passar o mouse sobre o link */
}
