@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
}
.wrap > h1{
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    color: #6073df;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
    margin-top: 15%;
}
.wrap > h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #c7c7c7;
    margin: 20px 0;
}
.store-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
    /* background: orange; */
}
.category_list .category_item{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 40px;
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px; 
    background: #3ec0e8;
    text-align: center;
    text-decoration: none;
   color: white;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    transition: background 0.5s, color 0.5s;
}

.category_list .category_item:hover{
    background: #35a1c2;
}
.products-list{
    width: 82%;
    /* background: #ccc; */
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item{
    width: 22%;
    /* background: orange; */
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: self-start;

    transition: all .4s;
}
.products-list .product-item img{
    background: white;
    /* width: 100%; */
    width: 200px;
    height: 250px;
}
/* .hide{
    display: none;
} */
.products-list .product-item a{
    flex-direction: column;
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 0;
    background: #ffffff;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}
.products-list .product-item h1{
    font-size: 1.3em;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
.products-list .product-item button{
    text-align: center;
    cursor: pointer;
   color: white;
    background: rgb(85, 208, 238);
    border: none;
    transition: background 0.5s, color 0.5s;
    border-radius: 60px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.products-list .product-item button:hover{
    background: rgb(66, 160, 184);
}
.category_list .ct_item-active{
	background: #2719a3;
}
@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}