<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="produtos.component.css">
    <title>Página de Produtos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- <script defer src="assets/js/jquery-3.7.1.js"></script>
    <script defer src="assets/js/script.js"></script> -->
</head>
<body>
    <div class="wrap">
        <h1>Página de Produtos</h1>
        <div class="store-wrapper">
            <div class="category_list">
                <button class="category_item" (click)="filterProducts('all')" [class.ct_item-active]="activeCategory === 'all'">Todos</button>
                <button class="category_item" (click)="filterProducts('racao')" [class.ct_item-active]="activeCategory === 'racao'">Ração</button>
                <button class="category_item" (click)="filterProducts('brinquedos')" [class.ct_item-active]="activeCategory === 'brinquedos'">Brinquedos</button>
                <button class="category_item" (click)="filterProducts('brindes')" [class.ct_item-active]="activeCategory === 'brindes'">Brindes</button>
            </div>
            <section class="products-list">
                <div *ngFor="let product of products; trackBy: trackByFn;" class="product-item">
                    <img [src]="product.image" alt="">
                    <a href="#">{{ product.name }}</a>
                </div>
                <div *ngFor="let product of products; trackBy: trackByFn" class="product-item">
                    <img [src]="product.image" alt="">
                    <a href="#">{{ product.name }}</a>
                </div>
                <div *ngFor="let product of products; trackBy: trackByFn" class="product-item">
                    <img [src]="product.image" alt="">
                    <a href="#">{{ product.name }}</a>
                </div>
                <div *ngFor="let product of products; trackBy: trackByFn" class="product-item">
                    <img [src]="product.image" alt="">
                    <a href="#">{{ product.name }}</a>
                </div>
                <div class="product-item" category="brindes">
                    <img src="assets/img/imgProdutos/imgBrindes/brinde1.webp" alt="">
                    <a href="#">Brinde Pet</a>
                </div>
                <div class="product-item" category="brindes">
                    <img src="assets/img/imgProdutos/imgBrindes/brinde2.webp" alt="">
                    <a href="#">Brinde Gato</a>
                </div>
                <div class="product-item" category="brinquedos">
                    <img src="assets/img/imgProdutos/imgBrinquedos/brinquedo1.png" alt="">
                    <a href="#">Brinquedo para Cachorro</a>
                </div>
                <div class="product-item" category="brinquedos">
                    <img src="assets/img/imgProdutos/imgBrinquedos/brinquedo2.png" alt="">
                    <a href="#">Brinquedo para Gato</a>
                </div>
                <!-- <div class="product-item" category="brinquedos">
                    <img src="images/brinquedo3.png" alt="">
                    <a href="#">Brinquedo para Ambos</a>
                </div> -->
            </section>
        </div>
    </div>
</body>
</html>