<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script defer src="/projeto/src/assets/js/index.js"></script>
</head>
<body>

    <header>
        <div class="header-content">
            <div class="imgnav">
                <a href="#"><img [src] ="ImageLogo"></a>
            </div>
    
            <div class="search-input">
                <div class="icon-search"></div>
    
                <div class="searching">
                    <input type="text" placeholder="O que seu Pet precisa" id="mysearch">
                   </div> 
    
                   <span class="clear" onclick="document.getElementById('mysearch').value = ''">
    
                   </span>
            </div>
            <div class="btn-header">
               <button type="button">Entrar</button>
               <button type="button">Crie sua Conta</button>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Agendamento</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">sobre</a></li>
            </ul>
        </nav>
    </header>
   
</body>
</html>
