<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script defer src="/projeto/src/assets/js/index.js"></script>

</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img [src]="ImageLogo" alt="Logo">
            </div>

            <div class="search-logo-wrapper">
                <div class="search-input">
                    <div class="icon-search"></div>

                    <div class="searching">
                        <input type="text" placeholder="O que seu Pet precisa?" id="mysearch">
                    </div>

                    <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
                </div>
            </div>
        </div>

        <nav class="navbar">
            <a href="">Home</a>
            <a href="/produtos">Produtos</a>
            <a href="/login">Faça seu Login</a>
            <a href="/cadastro">Faça seu Cadastro</a>
        </nav>

        <div class="banner">
            <div class="container-img">
                <img src="..//../../assets/img/dog.png" alt="">
            </div>

            <div class="container-texto">

                <h1>Descubra o <span class="active">Paraíso</span> dos Pets</h1>
                <p>Na PetLand, acreditamos que cada animal de estimação é mais do que um simples companheiro; eles são
                    membros queridos de nossas famílias. Por isso, dedicamos nossa paixão e expertise para criar um
                    verdadeiro paraíso para os pets, onde eles recebem cuidados excepcionais e encontram uma variedade
                    incrível de produtos e serviços.</p>

                <p>Nosso compromisso com o bem-estar dos animais é evidente em cada aspecto da PetLand. Desde nossas
                    instalações projetadas pensando no conforto e segurança até a seleção criteriosa dos melhores
                    produtos disponíveis no mercado, estamos empenhados em oferecer aos seus amigos peludos a atenção e
                    qualidade que eles merecem.</p>

                <p>Em nossa loja, você encontrará uma extensa gama de alimentos premium, brinquedos interativos,
                    acessórios elegantes e serviços especializados, tudo cuidadosamente escolhido para atender às
                    necessidades específicas de cada pet. Nossa equipe apaixonada e treinada está sempre pronta para
                    orientar e oferecer conselhos personalizados, garantindo que você encontre exatamente o que seu
                    amigo peludo precisa.</p>

                <p>Além disso, na PetLand, promovemos a socialização e a diversão para os animais de estimação.
                    Realizamos eventos regulares, como sessões de treinamento, festas temáticas e encontros sociais,
                    proporcionando uma experiência única para você e seu pet. Acreditamos que um pet feliz é um pet
                    saudável, e estamos comprometidos em criar momentos memoráveis para toda a família.</p>

                <p>Visite a PetLand hoje mesmo e descubra um mundo de possibilidades para o seu melhor amigo. Deixe-nos
                    fazer parte da jornada de cuidados e felicidade do seu pet. Estamos ansiosos para recebê-lo em nossa
                    comunidade apaixonada de amantes de animais!</p>
            </div>
        </div>
    </header>
</body>

</html>