<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js">
</head>

<body>



    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="title-recomendados">Produtos Recomendados </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid"
                                                src="https://cobasi.vteximg.com.br/arquivos/ids/815382-400-400/Racao-Hills-Science-Diet-Caes-Adultos-Pequenos-e-Mini.jpg?v=638260855897430000"
                                                alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">Ração Hills Science</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing
                                                    elit. Excepturi perspiciatis, omnis nesciunt eos voluptate
                                                    recusandae ad tenetur at officiis expedita illum doloremque quam
                                                    fuga deleniti voluptas. Reiciendis ipsum officia molestias?</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://ninospet.com/wp-content/uploads/2021/06/IMG_7208_carreteiro_suino_512x512.png">
                                            <div class="card-body">
                                                <h4 class="card-title">Refeição Natural </h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Obcaecati sapiente molestiae architecto soluta perspiciatis
                                                    amet enim veritatis cum fugit eveniet consequatur similique, iste
                                                    delectus saepe repudiandae fugiat error cumque. Ipsum.</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://static.lojanutricol.com.br/public/lojanutricolalimentos/imagens/produtos/colpet-life-premium-especial-racao-seca-caes-adultos-15-kg-1087.png">
                                            <div class="card-body">
                                                <h4 class="card-title">Ração GranPlus</h4>
                                                <p class="card-text"></p>Lorem ipsum dolor sit amet consectetur
                                                adipisicing elit. Quam sint accusamus, at soluta corrupti atque iste
                                                aperiam facere ab eligendi minus in a possimus eum blanditiis voluptas
                                                fuga sequi adipisci. Ipsun.
                                                <button class="price-cards">R$79,99</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://crescitadistribuidora.com.br/cdn/shop/products/Faiscamockupfrente_800x.png?v=1670519769">
                                            <div class="card-body">
                                                <h4 class="card-title">Ração GranPlus</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                    elit. Natus expedita iusto atque quisquam quae soluta et commodi
                                                    maxime, aperiam architecto, ullam, reiciendis labore maiores
                                                    perferendis corporis sed facilis molestiae. Adipisci?</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://cobasi.vteximg.com.br/arquivos/ids/1014923/antipulgas-credeli-225mg-caes-55-a-11kg-principal.jpg?v=638005036926670000">
                                            <div class="card-body">
                                                <h4 class="card-title">Antipulgas</h4>
                                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing
                                                    elit. Enim praesentium ipsa doloribus ullam! Asperiores quis esse
                                                    vitae, in reprehenderit ipsam ex optio maxime voluptate fugiat?
                                                    Voluptatibus dicta nisi eaque perferendis.</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://www.petshopagroaves.com.br/uploads/petshopagroaves/produtos_imagens/Design-sem-nome---2022-10-04T10044016648886971414507493.png">
                                            <div class="card-body">
                                                <h4 class="card-title">Brinquedo para Gatos e Cachorros</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                    elit. Eum asperiores dolore nam ea pariatur adipisci eos quae quos
                                                    ipsam eaque unde, placeat labore sapiente veniam dolorum voluptates
                                                    laudantium atque cumque.</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                    elit. Numquam blanditiis cupiditate nesciunt sint totam, facere
                                                    repudiandae aperiam earum, sequi aliquam ab magni voluptate,
                                                    voluptatem eveniet animi rerum id laborum itaque!</p>
                                                <button class="price-cards">R$79,99</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="title-marcas">
        <h3>Marcas mais Bem Avaliadas!</h3>
    </div>

    <div class="container-marcas">
        
    </div>
</body>

</html>