@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');


.carousel-inner{
    margin-top: 10%;
}
.card {
    border-color: black;
    height: 350px; /* Ajuste a altura conforme necessário */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
}

.img-fluid {
   margin-left: 90px;
   margin-top: 5%   ;
}

.title-marcas{
    margin-left: 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 20%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
td img{
    /* width: 150px;
    height: 50px; */
}
.carousel-item img {
    width: 1060px;
    border-radius: 20px;
    height: 190px;
}
.card{
    border-color: black;
    height: 620px;
}
.card-title {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: #202020; /* Cor do texto */
    font-weight: 500;
}

.price-cards {
    text-align: center;
    color: white;
    background: rgb(85, 208, 238);
    border: none;
    transition: background 0.5s, color 0.5s;
    border-radius: 60px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.432); 
   
   
}
.price-cards h4 {
    margin-top: 10px;
}
.price-cards:hover {
    background: rgb(76, 182, 209); /* Altere a cor de fundo ao passar o mouse */
}
.card-text {
    text-align: center;
    font-family: 'Arial';
    font-size: 1.1em;
    color: #666; /* Cor do texto */
}
.card-body{
    text-align: center;
    margin-top: 10px; /* Ajuste a margem conforme necessário */
}
.container-marcas table {
    width: 100%; /* Garante que a tabela ocupa toda a largura do container */
    border-collapse: collapse; /* Remove espaçamento entre as células */
}
.container-marcas td {
    width: 20%; /* Defina a largura desejada para cada célula, 20% para 5 colunas */
    text-align: center; /* Centraliza a imagem dentro da célula */
}
.container-marcas img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da célula */
    height: auto; /* Mantém a proporção original da imagem */
}
.texto-marcas{
    margin-top: 7%;
    margin-left: 8%;
}
/* SeuComponente.component.css */
.map-container {
   
    height: 400px; /* Ajuste a altura conforme necessário */
border: dashed black;
margin-top: 5%;
  }
  .map-container iframe{
    width: 100%;
  }
  .banner-centralizar-texto{
    background-color: rgb(1, 1, 44);
  }
  .banner{
   
    width: 100%;
    display: flex;
    
    /* align-items: center; */
}

.container-img{
    width: 70%;
    display: block;
    
}
.container-img img{
    width: 950px;
    filter: drop-shadow(5px 3px 10px rgba(0, 0, 0, 0.562)); /* Ajuste os valores conforme necessário */
}

.container-texto{
    margin-top: 5%;
    width: 50%;
    margin-right: 200px;
}
.container-texto h1{
    font-weight: 600;
    font-family: 'Lobster', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.container-texto p{
    font-size: 1em;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Rethink Sans', sans-serif;
    text-align: center;
}
.container-texto span{
    color: orange;
}
.title-map{
    margin-top: 10%;
    margin-left: 8%;
}
/* Adicione isso ao seu arquivo CSS global ou no estilo específico do componente */
.carrinho-flutuante {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20px; /* Ajuste conforme necessário para a posição vertical desejada */
    right: 0; /* Ajuste conforme necessário para a posição horizontal desejada */
    background: rgb(131, 123, 123);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(109, 105, 105, 0.1);
    width: 20%; /* Ajuste conforme necessário para a largura desejada */
    height: 100%; /* Ocupa 100% da altura da tela */
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo ultrapassar a altura */
    z-index: 1000; /* Certifique-se de que este valor seja maior do que outros elementos na página */
  }
.carrinho-flutuante h2{
    color: aquamarine;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container-carrinho{
    margin-top: 10%;
    width: 100%;
    border: 1px dashed rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .item-carrinho{
    margin: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.item-carrinho .remover-item{
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    background: rgb(255, 57, 57);
    border: none;
    transition: background 0.5s, color 0.5s;
    border-radius: 60px;
    text-shadow: 3px 2px 0px rgba(214, 81, 81, 0.432);
    font-weight: 400; 
}
.carrinho-flutuante .btnCompra{
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    background: rgb(85, 208, 238);
    border: none;
    transition: background 0.5s, color 0.5s;
    border-radius: 60px;
    text-shadow: 3px 2px 0px rgba(241, 238, 238, 0.432);
    font-weight: 600; 
}
.carrinho-flutuante button:hover{
    background: rgb(68, 162, 185);
}
.item-carrinho button:hover{
    background: rgb(173, 50, 50);
}
.carrinho-flutuante span{
    margin-top: 5%;
    font-family: 'Arial', sans-serif;
   font-weight: 600;
   color: rgb(255, 255, 255);
}
.carrinho-flutuante button a{
    text-decoration: none;
}
.carrinho-flutuante.minimizado {
  transform: translateX(250px);
}

.carrinho-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.carrinho-header h2{
    margin: 0;
}

.fechar-carrinho {
    top: 0;
    right: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.fechar-carrinho img{
    width: 10px;
    height: 10px;
}
.fechar-carrinho:focus {
    outline: none; /* Remove a borda de foco ao clicar */
  }
  .carrinho-header button:hover{
    background: red;
  }
.minimizar-carrinho {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Media Query para telas pequenas (largura até 576px) */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column; /* Muda para empilhamento vertical */
    }

    .container-img {
        width: 100%;
    }

    .container-texto {
        width: 100%;
        margin-right: 0;
    }
}

/* Media Query para telas médias (largura entre 577px e 992px) */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container-img {
        width: 50%;
    }

    .container-texto {
        width: 50%;
        margin-right: 0;
    }
}

/* Media Query para telas grandes (largura acima de 992px) */
@media screen and (min-width: 993px) {
    .banner {
        flex-direction: row; /* Restaura o layout para linha */
    }

    .container-img {
        width: 70%;
    }

    .container-texto {
        width: 50%;
        margin-right: 200px;
    }
}
