.img-fluid{
    width: 50%;
    height: 50%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-marcas{
    margin-left: 5%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 20%;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.carousel-item img {
    width: 1060px;
    border-radius: 20px;
    height: 190px;
}