<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img [src]="ImageCarrossel1">
                </div>
                <div class="carousel-item">
                    <img [src]="ImageCarrossel2">
                </div>
                <div class="carousel-item">
                    <img [src]="ImageCarrossel3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>



    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="title-recomendados">Produtos Recomendados </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 50%; height: auto;"
                                                src="assets/img/imgcards/racaopremiata.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Premiatta</h4>
                                                <p class="card-text">Cuide da saúde e bem-estar do seu fiel companheiro
                                                    com a Ração Premiatta, uma escolha premium para nutrição completa e
                                                    equilibrada.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 263,99</h4>
                                                    <p>ou 3x de R$ 88,00</p>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racao.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Refeição Natural Zee.Dog Kitchen </h4>
                                                <p class="card-text">Proporcione uma experiência culinária excepcional
                                                    para o seu animal de estimação com a Refeição Natural, uma opção
                                                    nutritiva e deliciosa que combina o sabor irresistível com
                                                    benefícios para a saúde</p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,99</h4>
                                                    <p>ou 2x de R$ 16,49</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/perfume.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Perfume Pet Clean</h4>
                                                <p class="card-text">Transforme o cuidado do seu pet em uma experiência
                                                    luxuosa com o Perfume Pet Clean, uma fragrância especialmente
                                                    formulada para envolver seu animal de estimação em uma aura de
                                                    frescor e limpeza. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 19,99</h4>
                                                    <p>ou 2x de R$ 10,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racaogato.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Mandaí cat</h4>
                                                <p class="card-text">Proporcione ao seu felino uma experiência
                                                    gastronômica excepcional com a Ração Mandaí Cat, uma fórmula
                                                    cuidadosamente elaborada para atender às necessidades nutricionais
                                                    específicas dos gatos. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 44,90</h4>
                                                    <p>ou 2x de R$ 22,45</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/remediogato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Vermífugo Drontal Gatos </h4>
                                                <p class="card-text">Mantenha seu felino protegido e saudável com o
                                                    Vermífugo Drontal para Gatos, uma solução eficaz e confiável para o
                                                    controle de vermes intestinais.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 54,90</h4>
                                                    <p>ou 2x de R$ 27,45</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/brinquedo.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Brinquedo para Gatos e Cachorros</h4>
                                                <p class="card-text">Explore o mundo do entretenimento animal com nossos
                                                    Brinquedos para Cachorros e Gatos, uma coleção cuidadosamente
                                                    selecionada para manter seus amigos peludos entretidos e felizes.
                                                </p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,00</h4>
                                                    <p>ou 2x de R$ 16,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casagato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa para Gato </h4>
                                                <p class="card-text">Proporcione ao seu felino um refúgio acolhedor e
                                                    encantador com a Casinha para Gatos, o lugar perfeito para descanso
                                                    e relaxamento.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 485,00</h4>
                                                    <p>ou 4x de R$ 121,25</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casacachorro.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa Cachorro</h4>
                                                <p class="card-text">Ofereça ao seu fiel companheiro um lar dentro do
                                                    lar com a Casinha para Cachorros, um refúgio aconchegante e seguro
                                                    que atende às necessidades do seu amigo peludo.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 350,00</h4>
                                                    <p>ou 4x de R$ 87,50</p>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/petiscos.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Petiscos para seu animal</h4>
                                                <p class="card-text">Delicie seus amigos peludos com nossos
                                                    irresistíveis Petiscos para Gatos e Cachorros, uma seleção de
                                                    agrados saborosos e saudáveis que farão a alegria dos seus animais
                                                    de estimação. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 12,50</h4>
                                                    <p>ou 2x de R$ 6,25</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="title-recomendados">Produtos Recomendados </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 50%; height: auto;"
                                                src="assets/img/imgcards/racaopremiata.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Premiatta</h4>
                                                <p class="card-text">Cuide da saúde e bem-estar do seu fiel companheiro
                                                    com a Ração Premiatta, uma escolha premium para nutrição completa e
                                                    equilibrada.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 263,99</h4>
                                                    <p>ou 3x de R$ 88,00</p>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racao.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Refeição Natural Zee.Dog Kitchen </h4>
                                                <p class="card-text">Proporcione uma experiência culinária excepcional
                                                    para o seu animal de estimação com a Refeição Natural, uma opção
                                                    nutritiva e deliciosa que combina o sabor irresistível com
                                                    benefícios para a saúde</p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,99</h4>
                                                    <p>ou 2x de R$ 16,49</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/perfume.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Perfume Pet Clean</h4>
                                                <p class="card-text">Transforme o cuidado do seu pet em uma experiência
                                                    luxuosa com o Perfume Pet Clean, uma fragrância especialmente
                                                    formulada para envolver seu animal de estimação em uma aura de
                                                    frescor e limpeza. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 19,99</h4>
                                                    <p>ou 2x de R$ 10,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racaogato.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Mandaí cat</h4>
                                                <p class="card-text">Proporcione ao seu felino uma experiência
                                                    gastronômica excepcional com a Ração Mandaí Cat, uma fórmula
                                                    cuidadosamente elaborada para atender às necessidades nutricionais
                                                    específicas dos gatos. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 44,90</h4>
                                                    <p>ou 2x de R$ 22,45</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/remediogato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Vermífugo Drontal Gatos </h4>
                                                <p class="card-text">Mantenha seu felino protegido e saudável com o
                                                    Vermífugo Drontal para Gatos, uma solução eficaz e confiável para o
                                                    controle de vermes intestinais.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 54,90</h4>
                                                    <p>ou 2x de R$ 27,45</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/brinquedo.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Brinquedo para Gatos e Cachorros</h4>
                                                <p class="card-text">Explore o mundo do entretenimento animal com nossos
                                                    Brinquedos para Cachorros e Gatos, uma coleção cuidadosamente
                                                    selecionada para manter seus amigos peludos entretidos e felizes.
                                                </p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,00</h4>
                                                    <p>ou 2x de R$ 16,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casagato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa para Gato </h4>
                                                <p class="card-text">Proporcione ao seu felino um refúgio acolhedor e
                                                    encantador com a Casinha para Gatos, o lugar perfeito para descanso
                                                    e relaxamento.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 485,00</h4>
                                                    <p>ou 4x de R$ 121,25</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casacachorro.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa Cachorro</h4>
                                                <p class="card-text">Ofereça ao seu fiel companheiro um lar dentro do
                                                    lar com a Casinha para Cachorros, um refúgio aconchegante e seguro
                                                    que atende às necessidades do seu amigo peludo.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 350,00</h4>
                                                    <p>ou 4x de R$ 87,50</p>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/petiscos.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Petiscos para seu animal</h4>
                                                <p class="card-text">Delicie seus amigos peludos com nossos
                                                    irresistíveis Petiscos para Gatos e Cachorros, uma seleção de
                                                    agrados saborosos e saudáveis que farão a alegria dos seus animais
                                                    de estimação. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 12,50</h4>
                                                    <p>ou 2x de R$ 6,25</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="title-recomendados">Produtos Recomendados </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 50%; height: auto;"
                                                src="assets/img/imgcards/racaopremiata.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Premiatta</h4>
                                                <p class="card-text">Cuide da saúde e bem-estar do seu fiel companheiro
                                                    com a Ração Premiatta, uma escolha premium para nutrição completa e
                                                    equilibrada.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 263,99</h4>
                                                    <p>ou 3x de R$ 88,00</p>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racao.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Refeição Natural Zee.Dog Kitchen </h4>
                                                <p class="card-text">Proporcione uma experiência culinária excepcional
                                                    para o seu animal de estimação com a Refeição Natural, uma opção
                                                    nutritiva e deliciosa que combina o sabor irresistível com
                                                    benefícios para a saúde</p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,99</h4>
                                                    <p>ou 2x de R$ 16,49</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/perfume.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Perfume Pet Clean</h4>
                                                <p class="card-text">Transforme o cuidado do seu pet em uma experiência
                                                    luxuosa com o Perfume Pet Clean, uma fragrância especialmente
                                                    formulada para envolver seu animal de estimação em uma aura de
                                                    frescor e limpeza. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 19,99</h4>
                                                    <p>ou 2x de R$ 10,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/racaogato.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Ração Mandaí cat</h4>
                                                <p class="card-text">Proporcione ao seu felino uma experiência
                                                    gastronômica excepcional com a Ração Mandaí Cat, uma fórmula
                                                    cuidadosamente elaborada para atender às necessidades nutricionais
                                                    específicas dos gatos. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 44,90</h4>
                                                    <p>ou 2x de R$ 22,45</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/remediogato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Vermífugo Drontal Gatos </h4>
                                                <p class="card-text">Mantenha seu felino protegido e saudável com o
                                                    Vermífugo Drontal para Gatos, uma solução eficaz e confiável para o
                                                    controle de vermes intestinais.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 54,90</h4>
                                                    <p>ou 2x de R$ 27,45</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/brinquedo.png" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Brinquedo para Gatos e Cachorros</h4>
                                                <p class="card-text">Explore o mundo do entretenimento animal com nossos
                                                    Brinquedos para Cachorros e Gatos, uma coleção cuidadosamente
                                                    selecionada para manter seus amigos peludos entretidos e felizes.
                                                </p>
                                                <button class="price-cards">
                                                    <h4>R$ 32,00</h4>
                                                    <p>ou 2x de R$ 16,00</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casagato.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa para Gato </h4>
                                                <p class="card-text">Proporcione ao seu felino um refúgio acolhedor e
                                                    encantador com a Casinha para Gatos, o lugar perfeito para descanso
                                                    e relaxamento.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 485,00</h4>
                                                    <p>ou 4x de R$ 121,25</p>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/casacachorro.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Casa Cachorro</h4>
                                                <p class="card-text">Ofereça ao seu fiel companheiro um lar dentro do
                                                    lar com a Casinha para Cachorros, um refúgio aconchegante e seguro
                                                    que atende às necessidades do seu amigo peludo.</p>
                                                <button class="price-cards">
                                                    <h4>R$ 350,00</h4>
                                                    <p>ou 4x de R$ 87,50</p>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" style="max-width: 60%; height: auto;"
                                                src="assets/img/imgcards/petiscos.jpg" alt="">
                                            <div class="card-body d-flex flex-column justify-content-between">
                                                <h4 class="card-title">Petiscos para seu animal</h4>
                                                <p class="card-text">Delicie seus amigos peludos com nossos
                                                    irresistíveis Petiscos para Gatos e Cachorros, uma seleção de
                                                    agrados saborosos e saudáveis que farão a alegria dos seus animais
                                                    de estimação. </p>
                                                <button class="price-cards">
                                                    <h4>R$ 12,50</h4>
                                                    <p>ou 2x de R$ 6,25</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <img class="img-fim" style="max-width: 100%; height: auto;" src="assets/img/imgCarrossel/image1.jpg" alt="">
    <br>
    <br>
    <br>
    <div class="texto-produtos">
        <h2>Nossos marcas mais bem avaliadas: </h2>
    </div>
    <br>
    <div class="container-marcas">
        <table>
            <tr>
                <td><img [src]="ImageMarca1"></td>
                <td><img [src]="ImageMarca2"></td>
                <td><img [src]="ImageMarca3"></td>
                <td><img [src]="ImageMarca4"></td>
                <td><img [src]="ImageMarca5"></td>
            </tr>
            <tr>
                <td><img [src]="ImageMarca6"></td>
                <td><img [src]="ImageMarca7"></td>
                <td><img src="assets/img/imgMarcas/Elanco.png" alt="Imagem 8"></td>
                <td><img src="assets/img/imgMarcas/zeedog.png" alt="Imagem 9"></td>
                <td><img src="assets/img/imgMarcas/petsoc.png" alt="Imagem 10"></td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>