body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-pagamento{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: bisque;
  height: 800px;
}
.container-pagamento .container-carrinho{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.container-pagamento .container-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.titulo{
  text-align: center;
}
.icones i{
  font-size: 24px;
 margin: 10px;
}
.icones button{
  cursor: pointer;
  border: none;
  background: transparent;
}